.buttons > button{
    display: inline-block;
    margin-right: $xs;
}

.button {
    width: auto;
    min-width: 75px;
    height: 25px;
    border-radius: 4px;
    border-style: none;
    margin: $xxs 0;
    font-size: $sm;
    outline: none;
    padding: 0 $md;

    &.long{
        width: 100px;
    }

    &:hover:not(:disabled){
        cursor: pointer;
        background-blend-mode: darken;
        background-color: #aaa;
    }

    &:active{
        background-blend-mode: darken;
        background-color: grey;
    }

}