$xxs: 0.4rem;
$xs: 0.8rem;
$s: 1.0rem;
$sm: 1.2rem;
$md: 1.6rem;
$ml: 2.0rem;
$l: 2.6rem;
$xl: 3.2rem;
$xxl: 3.8rem;

$grpc-grid-border-color: rgba(0, 0, 0, 0.137);
$grpc-grid-border-width: 2px;

@import './function/mixin.scss';
@import './function/placeholder.scss';

@import './component/scrollbar.scss';
@import './component/button.scss';
@import './component/control-bar.scss';
@import './component/form.scss';
@import './component/list-item.scss';
@import './component/react-tabs.scss';
@import './component/table-grid.scss';
@import './component/textbox';
@import './component/table';

@import './container/charfer.scss';
@import './container/grpc.scss';
@import './container/sidebar.scss';


.app {
  font-family: 'Roboto', sans-serif;
}

.container {
    display: block;
    box-sizing: border-box;

    &.container--main{
        margin-top: 45px;
        padding: $sm;
        padding-left: 20rem + $sm;
        height: calc(100vh - 45px);
        overflow-y: scroll;
    }
}

.text-not-selectable {
    @extend %no-text-highlight;
}


