::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 14px none #ffffff;
  // border-radius: 52px 52px 0 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #d8d8d8;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 2px none #ffffff;
  // border-radius: 52px 52px 0 0;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #535353;
}
::-webkit-scrollbar-corner {
  background: transparent;
}