table {
  &.mat2{

    & tr {
      height: 50px;
    }

    width: 100%;
    padding: 0 $md;

    & td {
      padding: $xxs $sm;
    }

    @include mobile{
      & tr {
        & > td:first-child {
          width: 25%;
        }
        & > td:last-child {
          width: 75%;
        }
      }
    }

    @include desktop{

      max-width: 768px;

      & tr {
        & > td:first-child {
          width: 25px;
          max-width: 25px;
        }
        & > td:last-child {
          width: 100px;
          max-width: 100px;
        }
      }
    }
  }
}