input {

  &:disabled:hover,
  &:disabled {
    background: rgb(156, 156, 156);
  }

  box-sizing: border-box;
  background: rgb(221, 221, 221);
  border: 2px solid transparent;
  border-radius: 6px;
  padding: $xs $xs;
  transition: background linear .2s;
  // margin: 0 $sm;

  &.short {
    padding: 0 $xs;
  }

  &:focus,
  &:hover{
    background: rgb(255, 255, 255);
  }

  &.long{
    max-width: 350px;
    width: 100%;
  }

  &.full-width{
    width: 100%;
  }

  &:read-only{
    background: transparent;
    color: white;
  }
  
}